.worker-type {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 20px;
    align-items: center ;
    justify-content: center;
    align-content: center;

}
.user-selection {
    background-color:  rgb(0, 123, 255) ;
    border: 2px solid black;
    padding: 40px;
}
.provider-selection{
    background-color: rgb(0, 123, 255);
    border: 2px solid black;
    padding: 40px;
    margin: 20px;
}